---
import ArticleLayout from "../../layouts/ArticleLayout.astro";

export async function getStaticPaths() {
  const postImports = import.meta.glob("../../content/*.md");
  return Object.entries(postImports).map(([path, loader]) => {
    const slug = path.split("/").pop().replace(".md", "");
    return {
      params: { slug },
      props: { loader },
    };
  });
}

const { loader } = Astro.props;
const { default: Content, frontmatter } = await loader();
---

<ArticleLayout 
  title={frontmatter.title}
  date={frontmatter.date}
  summary={frontmatter.summary}
  tags={frontmatter.tags}>
  <div class="prose dark:prose-invert prose-lg max-w-none">
    <Content />
  </div>
</ArticleLayout>
