/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: theme("colors.white");
  color: theme("colors.gray.900");
}

.dark body {
  background-color: theme("colors.dark.bg");
  color: theme("colors.dark.text");
}

/* Components */
.theme-transition {
  transition-property: color, background-color;
  transition-duration: 200ms;
}

/* Custom utilities */
.content-auto {
  content-visibility: auto;
}
