---
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthorBio from "../components/AuthorBio.astro";

const authorImports = import.meta.glob("../content/authors/*.md", { eager: true });
const authors = Object.entries(authorImports).map(([path, mod]) => ({
  ...mod.frontmatter,
  slug: path.split("/").pop().replace(".md", ""),
}));
---

<BaseLayout title="Our Authors - Weird Science News" description="Meet the brilliant minds behind our weird science stories">
  <h1 class="text-4xl font-bold mb-8 text-gray-900 dark:text-gray-100">Our Authors</h1>
  
  <div class="space-y-8">
    {authors.map((author) => (
      <div class="group transition-all duration-200 hover:transform hover:translate-y-[-2px]">
        <a href={`/authors/${author.slug}`} class="block no-underline hover:no-underline [&_*]:no-underline [&_*]:hover:no-underline">
          <div class="rounded-lg ring-1 ring-gray-200 dark:ring-gray-700 group-hover:ring-blue-500 dark:group-hover:ring-blue-400 group-hover:shadow-lg transition-all duration-200">
            <AuthorBio {...author} isLink={true} />
          </div>
        </a>
      </div>
    ))}
  </div>
</BaseLayout>
